<server description="server">

	<!-- Enable features -->
	<featureManager>
		<feature>jaxrs-1.1</feature>
		<feature>jndi-1.0</feature>		
	</featureManager>

	<jndiEntry jndiName="com/acmeair/repository/type" value="wxs"/>

	<httpEndpoint id="defaultHttpEndpoint"
		host="*"
		httpPort="8080"
		httpsPort="8443">
		<httpOptions maxKeepAliveRequests="-1" />
	</httpEndpoint>	

	<executor name="LargeThreadPool" id="default" coreThreads="100" maxThreads="200" keepAlive="360s" stealPolicy="STRICT" rejectedWorkPolicy="CALLER_RUNS" />    

	<webContainer deferServletLoad="false"/>
</server>
